.form {
  display: grid;
  margin: 0 auto 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-rows: 45px;
  width: 100%;
  max-width: 840px;
  align-items: start;
}

.input {
  font-size: 15px;
  height: 38px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.button {
  border: none;
  background: #bf6c35;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

.input:focus {
  border-bottom: 1px solid #bf6c35;
}

.errors {
  color: #ff5845;
}